@model BW5.Models.Animale

@{
    ViewData["Title"] = "Crea Animale";
}

<h1>Crea Animale</h1>

<h4>Animale</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div class="form-group">
                <label asp-for="Nome" class="control-label"></label>
                <input asp-for="Nome" class="form-control" />
                <span asp-validation-for="Nome" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Razza" class="control-label"></label>
                <input asp-for="Razza" class="form-control" />
                <span asp-validation-for="Razza" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Pelo" class="control-label"></label>
                <input asp-for="Pelo" class="form-control" />
                <span asp-validation-for="Pelo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Nascita" class="control-label"></label>
                <input asp-for="Nascita" class="form-control" />
                <span asp-validation-for="Nascita" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Microchip" class="control-label"></label>
                <input asp-for="Microchip" class="form-control" />
                <span asp-validation-for="Microchip" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IdProprietario" class="control-label">Proprietario</label>
                <select asp-for="IdProprietario" class="form-control" asp-items="ViewBag.Clienti">
                    <option value="">Seleziona un proprietario</option>
                </select>
                <span asp-validation-for="IdProprietario" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DataRegistrazione" class="control-label"></label>
                <input asp-for="DataRegistrazione" class="form-control" readonly value="@DateTime.Now.ToString("yyyy-MM-dd HH:mm:ss")" />
                <span asp-validation-for="DataRegistrazione" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Crea" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Torna all'elenco</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
